<div class="page-header">
  <h1>People</h1>
</div>

<table class="table table-bordered">


  <thead> <%fun= @people[1]%>
    <%fun.each_key do |key|%>
     <th> <%=(key.to_s.gsub('_', ' ')).capitalize%></th>
     <%end%>

  </thead>
  <tbody>
    <%@people.each do |person|%>
    <tr> <%person.each_value do |value|%>
      <td><%=value%></td>
      <%end%>
      <%end%>
  </tbody>
</table>
